<div class="user-card-container">
  <div class="header-container">
    <div class="image-container">
      <img
        [src]="user.avatar_url"
        alt=""
      />
    </div>
    <div class="information-container">
      <div class="information-container__left">
        <h3>{{user?.login}}</h3>
        <span>{{user?.type}}</span>
      </div>
      <div class="information-container__right">
        {{user?.score}} <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <p>#{{user?.id}}</p>
    <button type="button" class="btn btn-warning"><i class="fa fa-eye"></i></button>
  </div>
</div>
